<?xml version="1.0" encoding="UTF-8"?>
<privacy>
    <collection>
        <purpose>File Access</purpose>
        <type>File and Document</type>
        <usage>Accessing files chosen by the user from their device.</usage>
    </collection>
    <privacyPolicy>
        <url>https://sites.google.com/view/desusa/trang-ch%E1%BB%A7x</url>
    </privacyPolicy>
</privacy>